<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://use.fontawesome.com/0c02ac8ef9.js"></script>
  <link rel="stylesheet" href="/assets/style.css" type="text/css"/>
  <link href="https://fonts.googleapis.com/css?family=Marck+Script|Montserrat:300|Open+Sans" rel="stylesheet">

  <title>News</title>
</head>
<body>

  

  {{{ body }}}
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/assets/articles.js" charset="utf-8"></script>

</html>
